<div class="nny-browse">
<ul>
<li><%= image_pack_tag "notable_new_yorkers_sm.gif" %></li>
<li><%= link_to_nny("Bennett Cerf","cerfb") %></li>
<li><%= link_to_nny("Kenneth Clark","clarkk") %></li>
<li><%= link_to_nny("Mamie Clark","clarkm") %></li>
<li><%= link_to_nny("Moe Foner","fonerm") %></li>
<li><%= link_to_nny("Andrew Heiskell","heiskella") %></li>
<li><%= link_to_nny("Edward I. Koch","koche") %></li>
<li><%= link_to_nny("Mary Lasker","laskerm") %></li>
<li><%= link_to_nny("John B. Oakes","oakesjb") %></li>
<li><%= link_to_nny("Frances Perkins","perkinsf") %></li>
<li><%= link_to_nny("Frank Stanton","stantonf") %></li>
</ul>
</div>
<%= render 'facets' %>