<% # container for all groups in index view -%>
<div id="groups">
  <%- @response.groups.each do |g| %>
    <h3 class="group-key"><%= g.key %> (<%= g.total %> item<%= 's' if g.total > 1 %>)</h3>
    <div class="grouped-documents">
      <%- if g.total > @response.group_limit %>
        <h4>Sample Match <%= link_to t('blacklight.search.group.more'), add_group_facet_params_and_redirect(g), :class => 'more-in-group' %></h4>
      <%- end %>
      <%= render_document_index g.docs %>
    </div>
  <%- end %>
</div>